.noUi-base {
  width: 100%;
  height: 10px;
  position: relative;
  z-index: 1;
  height: 16px;
}
.noUi-connect {
  position: absolute;
  height: 2px;
  right: 0;
  top: 8px;
  left: 0;
  bottom: 0;
  background: #111;
}
.noUi-base > .noUi-connect ~ .noUi-connect {
  background: #ddd;
}
.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.1s, right 0.1s, bottom 0.1s, left 0.1s;
  transition: top 0.1s, right 0.1s, bottom 0.1s, left 0.1s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.noUi-horizontal:before {
  left: 0;
  background: #111;
}
.noUi-horizontal:before, .noUi-horizontal:after {
  content: '';
  position: absolute;
  bottom: 0;
  margin: auto;
  height: 9px;
  width: 1px;
  top: 23px;
}
.noUi-horizontal:after {
  right: 0;
  background: #ddd;
}
.noUi-horizontal {
  height: 20px;
}
.noUi-handle {
  position: relative;
  z-index: 1;
  background: #FFF;
  cursor: grab;
  border: 3px solid #000;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  margin-top: -2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  transition: transform 400ms;
  left: -10px;
}
.noUi-active {
  cursor: grabbing;
  transition: transform 75ms;
  transform: scale(1.2, 1.2);
}
