.row {
  display: flex;
}

@media only screen and (max-width: 480px) {
  .row {
    display: block;
  }
}

.column {
  flex: 1;
  padding: 0.5rem 2rem;
}

@media only screen and (max-width: 480px) {
  .column {
    padding: 0.5rem 2rem 0;
  }
}

.config {
  background: #F8F8F8;
  padding-bottom: 2rem;
}

.configField {
  position: relative;
  margin-bottom: 1rem;
  min-height: 60px;
}

.configField .label {
  font-size: 13px;
  margin-bottom: 0.5rem;
}

.toggle {
  position: relative;
  display: inline-block;
  border: 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  color: #111;
  margin: 0;
  padding: 8px 20px;
  font-size: 12px;
  outline: none;
  text-decoration: none;
}
.toggle:first-of-type {
  border-radius: 5px 0 0 5px;
}
.toggle:last-of-type {
  border-radius: 0 5px 5px 0;
}
.toggle i {
  position: absolute;
  left: 10px;
  font-size: 16px;
}
.toggle:active {
  top: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.toggle.isActive {
  background: #ddd;
}
